.footer-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(250, 171, 81);
}

.footer-details{
    color: black;
    margin: 10px 30px;
}

.privacy-and-terms{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.privacy-link{
    margin: 10px;
    margin-left: 0px;
}

.privacy-link:hover{
    color: rgb(247, 74, 44);
}

.terms-link{
    margin: 10px;
    margin-left: 0px;
}

.terms-link:hover{
    color: rgb(247, 74, 44);
}

.social-media-links{
    color: black;
    margin: 10px 30px;
}

.links{
    color: rgb(247, 74, 44);
}