.footer-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(24, 24, 24);
}

.footer-details{
    color: white;
    margin: 10px 30px;
}

.privacy-and-terms{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.privacy-link{
    margin: 10px;
    margin-left: 0px;
}

.privacy-link:hover{
    color: rgb(2, 149, 235);
}

.backend-terms-link{
    margin: 10px;
    margin-left: 0px;
}

.backend-terms-link:hover{
    color: rgb(2, 149, 235);
}

.social-media-links{
    color: white;
    margin: 10px 30px;
}

.links{
    color: rgb(2, 149, 235);
}