.nav-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(28, 159, 235);
}

.logo-container{
    color: white;
    margin: 10px 30px;
}

.sb-logo{
    border-radius: 50%;
}

.nav-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px 30px;
}

.nav-link-home{
    color: white;
    margin: 10px;
}

.nav-link-home:hover{
    color: black;
}

.nav-link-cs{
    color: white;
    margin: 10px;
}

.nav-link-cs:hover{
    color: black;
}

.nav-link-re{
    color: white;
    margin: 10px;
}

.nav-link-re:hover{
    color: black;
}